body {
  margin: 0;
}

/* FONT */

@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url('SpaceGrotesk-Regular.otf');
}

@font-face {
  font-family: SpaceGrotesk-SemiBold;
  src: url('SpaceGrotesk-SemiBold.otf');
}

@font-face {
  font-family: Verona;
  src: url('Verona-Regular.otf');
}

/* LINK */

.cv a:link {
  color: black;
  text-decoration: none;
}

.cv a:visited {
  color: black;
}

.cv a:hover {
  color: #FF0000;
  text-decoration: line-through;
}

.cv a:active {
  color: #FF0000;
}

.headerMenu a:link {
  color: black;
  text-decoration: none;
}

.headerMenu a:visited {
  color: black;
}

.headerMenu a:hover {
  color: #FF0000;
  text-decoration: line-through;
}

.headerMenu a:active {
  color: #FF0000;
}

.footer a:link {
  color: black;
  text-decoration: none;
}

.footer a:visited {
  color: black;
}

.footer a:hover {
  color: black;
  text-decoration: line-through;
}

.footer a:active {
  color: black;
}

.footerHP a:link {
  color: black;
  text-decoration: none;
}

.footerHP a:visited {
  color: black;
}

.footerHP a:hover {
  color: black;
  text-decoration: line-through;
}

.footerHP a:active {
  color: black;
}

.project a:link {
  color: white;
  text-decoration: none;
}

.project a:visited {
  color: white;
  text-decoration: none;
}

.project a:hover {
  color: #FF0000;
  text-decoration: none;
}

.project a:active {
  color: white;
  text-decoration: none;
}

/* HEADER & FOOTER */

.header {
  display: flex;
  flex-direction: row;
  height: 2.875em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .header {
    display: flex;
    flex-direction: row;
    height: 2.875em;
    position: fixed;
  }
}

.home {
  overflow: hidden;
  min-width: 68%;
  background-color: black;
}

.homeProject {
  overflow: hidden;
  min-width: 68%;
}

.cb {
  padding: 1em 1.5625em;
  font-family: SpaceGrotesk-Regular;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .cb {
    font-size: 1.5em;
    text-align: center;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .cb {
    font-size: 1.8em;
    padding: 1.2em;
    text-align: center;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .cb {
    font-size: 1.5em;
    text-align: left;
  }
}

.headerMenu {
  overflow: hidden;
  background-color: #F7F7FF;
  min-width: 32%;
  min-height: 2.875em;
  display: flex;
  flex-direction: row;
}


.headerItem {
  width: 100%;
  margin: 0.8em 1.5em;
  font-family: SpaceGrotesk-Regular;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: black;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .headerItem {
    font-size: 1.2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .headerItem {
    font-size: 1.8em;
    margin: 1em 1.2em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .headerItem {
    font-size: 1.5em;
  }
}

#aboutBtn {
  text-align: left;
}

#wallBtn {
  text-align: center;
}

#email {
  text-align: right;
}

.cv {
  font-family: Verona;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  margin-top: 1.2em;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 2.875em;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 6em 0 0 0;
    height: auto;
    position: relative;
  }
  .footer .footerMenu {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .footer .worldometer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 9em 0 0 0;
    height: auto;
    position: relative;
  }
  .footer .footerMenu {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .footer .worldometer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .footer {
    height: 3.875em;
  }
}

.footerMenu {
  overflow: hidden;
  background-color: #F7F7FF;
  min-width: 68%;
  display: flex;
  flex-direction: row;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .footerMenu {
    padding: 1.3em 0 1.3em 0;
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .footerMenu {
    padding: 1.7em 0 1.5em 0;
    width: 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .footerMenu {
    padding: 0;
  }
}

.footerItem {
  width: 100%;
  margin: 0.8em 1.5625em;
  font-family: SpaceGrotesk-Regular;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: black;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .footerItem {
    font-size: 1em;
    margin: 0 0.8em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .footerItem {
    font-size: 1.8em;
    margin: 0 1.2em
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .footerItem {
    font-size: 1.5em;
    margin: 0.925em 1em;
  }
}

.footerHP {
  display: flex;
  flex-direction: row;
  height: 2.875em;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .footerHP {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 0;
    height: auto;
    position: relative;
  }
  .footerHP .footerMenu {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .footerHP .worldometer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .footerHP {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
    position: relative;
  }
  .footerHP .footerMenu {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .footerHP .worldometer {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .footerHP {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 3.875em;
  }
}

#arena {
  text-align: right;
}

#ig {
  text-align: center;
}

#vimeo {
  text-align: right;
}

/* PLAYER */

.worldometerHP {
  overflow: hidden;
  background-color: #FF0000;
  min-width: 32%;
  justify-content: flex-end;
  padding: 0.85em;
}

.worldometer {
  overflow: hidden;
  background-color: #FF0000;
  width: 32%;
  justify-content: flex-end;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .worldometerHP {
    padding: 1.3em 0 1.3em 0;
    max-width: 100%;
  }

  .worldometer {
    padding: 1.3em 0 1.3em 0;
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .worldometerHP {
    padding: 1.5em 0 1.5em 0;
    max-width: 100%;
  }

  .worldometer {
    padding: 1.5em 0 1.5em 0;
    width: 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .worldometerHP {
    padding: 1.4em;
    min-width: 32%;
  }

  .worldometer {
    padding: 1em 1.5em;
    width: 32%;
  }
}

/* TEXT LOOPING */
.body-content__rollig-text {
  white-space: nowrap;
  font-family: SpaceGrotesk-Regular;
}

.body-content__rollig-text .rolling-text__text {
  font-size: 1em;
  color: white;
  display: inline-block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .body-content__rollig-text .rolling-text__text {
    font-size: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .body-content__rollig-text .rolling-text__text {
    font-size: 1.8em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .body-content__rollig-text .rolling-text__text {
    font-size: 1.5em;
  }
}

.projectNav {
  overflow: hidden;
  background-color: #FF0000;
  display: flex;
  flex-direction: row;
}

.projectNav a:link {
  color: white;
  text-decoration: none;
}

.projectNav a:visited {
  color: white;
}

.projectNav a:hover {
  color: white;
  text-decoration: line-through;
}

.projectNav a:active {
  color: white;
}

.navItem {
  width: 100%;
  margin: 0.75em 1.5em;
  font-family: SpaceGrotesk-Regular;
  font-size: 1em;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .navItem {
    margin: 0 1em;
    font-size: 1em;
    max-height: 2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .navItem {
    margin: 0 1.5em;
    font-size: 1.8em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .navItem {
    margin: 0;
    font-size: 1.5em;
  }
}

.previousProject {
  text-align: left;
  width: 100%;
  margin-left: 0.5em;
}

.nextProject {
  text-align: right;
  width: 100%;
  margin-right: 0.5em;
}

.arrows {
  max-width: 1.5em;
}

/* HOMEPAGE*/

.homepage {
  margin: 0;
  background-color: black;
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .homepage {
    position: relative;
    z-index:10;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .homepage {
    position: relative;
    z-index:10;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .homepage {
    position: absolute;
    z-index:-10;
  }
}

.projectPage {
  margin: 0;
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}


.HpContent {
  max-height: auto;
  margin: 8% 3% 0 3%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .HpContent {
    max-width: 100%;
    height: auto;
    margin: 2em 1.5em 3.5em 1.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .HpContent {
    max-width: 100%;
    height: auto;
    margin: 0em 3.5em 8em 3.5em;
  }
}

/* iPads v.2 (portrait and landscape) ----------- */
@media only screen and (min-width : 1025px) and (max-width : 1345px) {
  .HpContent {
    margin: 10.5% 3% 0 3%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .HpContent {
    margin: 7.5% 3.5% 0 4%;
  }
}

.branding {
  min-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 17.5% 22.5% 22% 15% 11%;
  grid-template-rows: 6.5% 6.5% 6.5% 6.5% 6.5% 6.5%;
  grid-column-gap: 3%;
  grid-row-gap: 0.7em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .branding {
    display: flex;
    flex-direction: column;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .branding {
    display: flex;
    flex-direction: column;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .branding {
    min-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 17.5% 22.5% 22.5% 15% 11%;
    grid-template-rows: 5% 5% 5% 5% 5% 5%;
    grid-column-gap: 3%;
    grid-row-gap: 0.8750em;
  }
}

.immersive {
  min-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 17.5% 22.5% 22% 28%;
  grid-template-rows: 6.5% 6.5% 6.5% 6.5% 6.5%;
  grid-column-gap: 3%;
  grid-row-gap: 0.8750em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .immersive {
    display: flex;
    flex-direction: column;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .immersive {
    display: flex;
    flex-direction: column;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .immersive {
    min-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 17.5% 21.5% 23.5% 28%;
    grid-template-rows: 5% 5% 5% 5% 5%;
    grid-column-gap: 3%;
    grid-row-gap: 0.8750em;
  }
}

.field {
  font-size: 2.3em;
  letter-spacing: 0.07em;
  color: WHITE;
  /*-webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;*/
  font-family: Verona;
  margin: 2% auto 1.5% auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .field {
    font-size: 3.2em;
    margin: 0em 0 0.15em 0;
    line-height: 1.08;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .field {
    font-size: 3.5em;
    margin: 0.8em 0 0.3em 0;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .field {
    font-size: 3.8em;
  }
}

.category {
  font-family: Verona;
  font-size: 0.8em;
  letter-spacing: 0.07em;
  color: white;
  margin-bottom: 0.3em;
  display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .category {
    display: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .category {
    display: none;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .category {
    font-size: 1.1em;
  }
}

.categoryMob {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .categoryMob {
    display: block;
    color: white;
    font-size: 1em;
    margin-top: 0.8em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .categoryMob {
    display: block;
    color: white;
    font-size: 1.3em;
    margin-top: 0.8em;
    letter-spacing: 0.08em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .categoryMob {
    display: none;
  }
}

.categoryMob-project {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .categoryMob-project {
    display: block;
    margin-top: 1.2em;
    letter-spacing: 0.08em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .categoryMob-project {
    display: block;
    margin-top: 1.2em;
    letter-spacing: 0.08em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .categoryMob-project {
    display: none;
  }
}

.projectMob {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectMob {
    display: block;
    max-width: 100%;
    margin-top: 0.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectMob {
    display: block;
    max-width: 100%;
    margin-top: 0.5em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectMob {
    display: none;
  }
}

.palette {
  margin: 0;
}

@media (min-width: 600px) {
  .palette {
    margin-bottom: 1em;
  }
}

@media (min-width: 1024px) {
  .palette {
    margin-bottom: 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .palette {
    margin-bottom: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .palette {
    margin-bottom: 1em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .palette {
    margin-bottom: 0;
  }
}

.project {
  font-family: SpaceGrotesk-Regular;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  align-self: start;
  height: auto;
  color: white;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .project {
    font-size: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .project {
    font-size: 1.3em;
  }
}

/* iPads v.2 (portrait and landscape) ----------- */
@media only screen and (min-width : 1025px) and (max-width : 1345px) {
  .project {
    font-size: 0.6106em;
  }
}

/* iPads v.3 (portrait and landscape) ----------- */
@media only screen and (min-width : 1346px) and (max-width : 1430px) {
  .project {
    font-size: 0.718em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .project {
    font-size: 1.1em;
  }
}

.dot {
    margin-right: 0.6250em;
    margin-bottom: -0.0625em;
    border-radius: 50%;
    width: 0.7500em;
    height: 0.7500em;
    display: inline-block;
}

.contents-hex-wrapper {
  opacity: 0;
  transition: opacity 100ms;
  overflow: visible;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  margin-left: -3.8em;
  margin-top: -1.05em;
  font-family: SpaceGrotesk-Regular;
  font-size: 0.7500em;
  float: right;
}

.content-item:hover .contents-hex-wrapper {
  opacity: 1;
  z-index: 100000;
}


.content_wall {
  z-index: 100;
  margin: 0;
  max-width: 100%;
}

.didaWall {
  font-size: 0.9em;
  font-family: SpaceGrotesk-Regular;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .didaWall {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .didaWall {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .didaWall {
    font-size: 1em;
    margin-bottom: 1.2em;
    margin-top: 0.8em;
  }
}

.didaWallLast {
  font-size: 0.8em;
  font-family: SpaceGrotesk-Regular;
  line-height: 1.3;
  margin-top: 1em;
}

.copyBootstrap {
  font-size: 0.9em;
  font-family: SpaceGrotesk-Regular;
  line-height: 1.3;
  margin: 1.8em 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .copyBootstrap {
    font-size: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .copyBootstrap {
    font-size: 1.8em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .copyBootstrap {
    font-size: 1.25em;
  }
}


/* X Close Button */
.close {
  color: #FF0000;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
  margin-top: -1.45em;
  margin-right: -0.66em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .close {
    font-size: 2.5em;
    margin-right: 0;
    margin-top: -1.7em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .close {
    font-size: 3em;
    margin-right: 0.08em;
    margin-bottom: 0.7em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .close {
    color: #FF0000;
    float: right;
    font-size: 2em;
    font-weight: bold;
    margin-top: -1.5em;
    margin-right: 0em;
  }
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* PICS HOVER */

.contents-image-wrapper {
  opacity: 0;
  transition: opacity 100ms;
  overflow: visible;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  margin-left: -0em;
  margin-top: -0.1em;
  float: right;
}

.content-item:hover .contents-image-wrapper {
  opacity: 1;
  z-index: 100000;
}

.contents-image {
  width: 600px;
  transform: translate(99.5%, -40%);
  z-index: 10;
}

.contents-above {
  transform: translate(99.5%, -80%);
}

.contents-text {
  cursor: pointer;
}

.read_more  {
  display: none;
}

.show {
   display: block!important;
}


/* PROJECT PAGE */

.homeButton {
  color: black;
  padding: 1em 1.5625em;
  font-family: SpaceGrotesk-Regular;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .homeButton {
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .homeButton {
    text-align: center;
    padding: 1.2em;
    font-size: 1.8em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .homeButton {
   font-size: 1.5em;
   padding: 1em;
  }
}

.homeButton a:link {
  color: black;
  text-decoration: none;
}

.homeButton a:visited {
  color: black;
  text-decoration: none;
}

.homeButton a:hover {
  color: black;
  text-decoration: line-through;
}

.homeButton a:active {
  color: black;
}


.mainContainer {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  top: 2.875em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: auto;
    position: relative;
    margin: 0;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: auto;
    position: relative;
    margin: 0;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .mainContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    margin: 2.875em 0 0 0;
  }
}

/* MAIN DESCRIPTION */

.leftContainer {
  min-width: 68%;
  height: auto;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.leftContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.leftContainer {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
.leftContainer {
  scrollbar-width: none;
}

.leftContent {
  max-width: 80%;
  height: auto;
  margin: 1.8em auto 7em auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .leftContent {
    max-width: 100%;
    height: auto;
    margin: 0 auto 1.5em auto;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .leftContent {
    max-width: 100%;
    height: auto;
    margin: 0.5em auto 2em auto;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .leftContent {
    max-width: 80%;
    height: auto;
    margin: 3.5em auto 9em auto;
  }
}

.imgsLeftContent {
  width: 100%;
  margin-bottom: 2.7em;
}

  .imgsLeftContent {
    width: 100%;
    margin-bottom: 1.5em;
  }
}

.videoMobile {
  max-width: 100%;
}

.videoPage {
  width: 100%;
  margin-top: 2em;
}

/* RIGHT SIDE DESCRIPTION */

.rightContainer {
  overflow: hidden;
  background-color: #F7F7FF;
  min-width: 32%;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.rightContainer a:link {
  color: black;
  text-decoration: none;
}

.rightContainer a:visited {
  color: black;
}

.rightContainer a:hover {
  color: #FF0000;
}

.rightContainer a:active {
  color: black;
}

.projectContainer {
  padding: 1.5em 2.5em 0 2.5em;
  height: auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectContainer {
    padding: 2.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectContainer {
    padding: 4.5em 4em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectContainer {
    padding: 3.5em 2.5em 0 3.5em;
    height: auto;
  }
}

.projectInfo {
  display: flex;
  flex-direction: column;
}

.project-info-dx-immersive {
  margin-top: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectInfo {
    display: flex;
    flex-direction: column;
  }
  .project-info-dx {
    margin-top: 0;
  }
  .project-info-dx-immersive {
    margin-top: 0;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectInfo {
    display: flex;
    flex-direction: column;
  }
  .project-info-dx {
    margin-top: 2em;
  }
  .project-info-dx-immersive {
    margin-top: -2.5em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectInfo {
    margin: 0 0 5.5em 0;
  }
  .project-info-sx {
    margin: 0 4em 0 0;
  }
  .project-info-dx {
    margin-top: 2em;
  }
  .project-info-dx-immersive {
    margin-top: 1.5em;
  }
}

.projectTitle {
  font-size: 1.1em;
  color: black;
  font-family: SpaceGrotesk-Regular;
  line-height: 1.15em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectTitle {
    font-size: 1.2em;
    letter-spacing: 0.08em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectTitle {
    font-size: 2em;
    letter-spacing: 0.06em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectTitle {
    font-size: 1.6em;
  }
}

.projectSpecs {
  font-family: SpaceGrotesk-Regular;
  max-width: 100%;
  max-height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.2em 0.8em 0.2em 0.8em 0.2em 0.8em 0.2em;
  grid-row-gap: 1.2500em;
  margin-top: 1.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectSpecs {
    grid-template-rows: 0.5em 1em 0.5em 1em 0.5em 1em 0.5em;
    margin-top: 1.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectSpecs {
    grid-template-rows: 1.2em 2em 1.2em 2em 1.2em 2em 1.2em;
    margin-top: 3em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectSpecs {
    grid-template-rows: 0.5em 1em 0.5em 1em 0.5em 1em 0.5em;
    margin-top: 1.5em;
  }
}

.projectCategory {
  font-family: SpaceGrotesk-SemiBold;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  color: black;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectCategory {
    font-size: 1em;
    letter-spacing: 0.06em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectCategory {
    font-size: 1.5em;
    letter-spacing: 0.06em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectCategory {
    font-size: 1.15em;
  }
}

.projectDescription {
  font-size: 0.8em;
  letter-spacing: 0.03em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectDescription {
    font-size: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectDescription {
    font-size: 1.3em;
  }
}

/* iPads v.2 (portrait and landscape) ----------- */
@media only screen and (min-width : 1025px) and (max-width : 1345px) {
  .projectDescription {
    font-size: 0.7em;
  }
}

/* iPads v.3 (portrait and landscape) ----------- */
@media only screen and (min-width : 1346px) and (max-width : 1430px) {
  .projectDescription {
    font-size: 0.75em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectDescription {
    font-size: 1.1em;
  }
}

.projectCopy {
  font-family: SpaceGrotesk-Regular;
  line-height: 1.28em;
  color: black;
  margin-top: 2em;
}

.projectCopy-immersive {
  font-family: SpaceGrotesk-Regular;
  line-height: 1.28em;
  color: black;
  margin-top: 1.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .projectCopy-immersive {
    margin-top: 0.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .projectCopy-immersive {
    margin-top: 1em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .projectCopy-immersive {
    margin-top: 2em;
  }
}

.SingleProjectPalette {
  font-family: SpaceGrotesk-Regular;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  align-self: start;
  height: auto;
  color: black;
  margin-top: 0.5em;
}

/* BOOTSTRAP */

/* collapse info */

.container {
  width: 32%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .container {
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .container {
    width: 100%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .container {
    width: 32%;
  }
}

.tab-content {
  height: 100vh;
  background-color: #F7F7FF;
  position: absolute;
  overflow: scroll;
  padding: 1em 2em 0 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tab-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.tab-content {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
.tab-content {
  scrollbar-width: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .tab-content {
    padding: 1.5em 2em 0 1.5em;
    margin-bottom: 2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .tab-content {
    padding: 1em 3em 0 2em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .tab-content {
    padding: 1em 3em 0 3em;
  }
}

.btn {
  cursor: pointer;
  border: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F7F7FF;
  padding: 0;
}

.btn:hover,
.btn:focus {
  color: red;
  text-decoration: line-through;
}
.btn:active,
.btn.active {
  background-color: #F7F7FF;
}

.btn-warning {
  color: black;
  background-color: #F7F7FF;
  text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .btn-warning {
    color: #FF0000;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .btn-warning {
    color: #FF0000;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .btn-warning {
    color: black;
    background-color: #F7F7FF;
    text-decoration: none;
  }
}

.btn-warning:hover {
  color: red;
  background-color: #F7F7FF;
  text-decoration: none;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after,
.nav:after {
  clear: both;
}

.inContent {
  margin-bottom: 9em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .inContent {
    margin-bottom: 3em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .inContent {
    margin-bottom: 5em;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .inContent {
    margin-bottom: 8em;
  }
}

/*carousel*/

.slider {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .slider {
    display: block;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .slider {
    display: block;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .slider {
    display: none;
  }
}

.imgList {
  display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 550px) {
  .imgList {
    display: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  .imgList {
    display: none;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .imgList {
    display: block;
  }
}

img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  font-size: 3.5em;
  font-family: SpaceGrotesk-Regular;
}
.carousel-control.left {
  left: 7em;
  right: auto;
  bottom: 1.2em;
}
.carousel-control.right {
  right: 7em;
  left: auto;
  bottom: 1.2em;
}
.carousel-control:hover,
.carousel-control:focus,
.carousel-control:link {
  color: #FF0000;
  text-decoration: none;
}

.carousel-control:active,
.carousel-control:visited {
  color: #FF0000;
  text-decoration: none;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: "\2039";
}
.carousel-control .icon-next:before {
  content: "\203a";
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 5;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  border-radius: 8px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-color: #FF0000;
  border: 0;

}
